body{
    background-color: rgb(201, 201, 201);
    max-width: 100%;
}
h1{
    text-align: center;
    background-color: grey;
    text-size-adjust: 100px;
    letter-spacing: 50  px;
    
}
h2{
    text-align: center;

}
.grid-floats{
    text-align: center;
    margin: 10px;
}

.grid-item{ 
    border-style: solid;
    background-color: honeydew;
    border-radius: 25px;
    margin: 10px;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul.grid-floats {
    overflow: auto;
}
li.grid-item{
    padding: 10px;
    list-style-type: none;
    text-align: center;
    float: left;
    width: 300px;
    height: 391px;
}
li.grid-item:first-child {

    width: 636px;
}

li.grid-item:first-child img {
    height: 243px;
}


p{
    text-align: justify;
}
main aside.graid-floats{
    float:inline-start;
}
img{
    max-width: 70%;
}

main aside.graid-flex{
    flex-grow: 0px;
    flex-shrink: 0px;
    flex-basis: auto;
}